.nav {
  position: fixed;
  bottom: 0;
  z-index: 10;
  background-color: var(--black);
  color: var(--grey);
  height: 64px;
  width: 100%;
  max-width: 500px;
}

.navbar {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: space-evenly;
  height: inherit;
}

.linkItem {
  color: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.active {
  color: var(--white);
}
